a {
  color: #11999E;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

body {
  font-family: 'Helvetica', serif;
  margin: 0;
  text-align: center;
}

h1 {
  color: #000000;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  line-height: 2;
  margin-top: 35px;
  margin-bottom: 0;
}

h2 {
  color: #000000;
  font-family: 'helvetica', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 45px;
  margin-top: 0;
}

h3 {
  color: #000000;
  font-family: 'helvetica', sans-serif;
  font-size: 1.8rem;
}

hr {
  border: none;
  border-top: dotted #CDF0EA;
  border-top-width: .5rem;
  margin: 30px auto 75px auto;
  width: 5%;
}

img{
  width: 10%
}

p {
  margin: 0;
}

nav {
  width: 25%;
  margin: 30px auto 50px auto;
}

.p-img {
  width: 10%;
  border-radius: 100%;
  margin: 50px auto 30px auto;
  border: 1px solid black;
}

.bottom-container {
  background: linear-gradient(to right, #24CCFD, #23FEFA);
  position: relative;
  overflow: hidden;
  padding-bottom: 85px;
}

.buton {
  background: #169195;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Helvetica;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.buton:hover {
  background: #0d796a;
}

.credits {
  margin-top: 30px;
  color: #EAF6F6;
}

.hi {
  margin-bottom: 30px;
}

.middle-container {
  background: linear-gradient(to right, #24CCFD, #23FEFA);
  position: relative;
  overflow: hidden;
  padding-bottom: 85px;
}

.present {
  width: 25%;
  margin: auto auto 75px auto;
}

.sub {
  font-size: 1.5rem;
}

.top-container {
  background: linear-gradient(to right, #24CCFD, #23FEFA);
  position: relative;
  overflow: hidden;
  padding-bottom: 85px;
}

/*Skills*/

.about {
  padding: 50px 0;
}

.box-container .box i {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 25px;
  margin: 10px 0;
}

.box-container .box h3 {
  font-size: 20px;
}

.box-container .box p {
  padding: 0 15px;
  font-size: 16px;
}

/*Skills 2*/

.box-container2{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  flex-wrap: wrap;
}

.box-container2 .box {
  width: 250px;
  padding-bottom: 20px;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
  background: #171717;
  margin: 20px 20px;
}

.box-container2 .box img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  margin-top: -50px;
}

.box-container2 .box h3 {
  font-size: 20px;
  color: #37dbf5;
  padding-top: 10px;
}

.box-container2 .box p {
  font-size: 18px;
  color: #fff;
  padding: 0;
}

.box-container2 .box .stars i {
  font-size: 15px;
  color: #ffffff;
  padding: 10px;
}

/* burbujas */

.burbuja{
  border-radius: 50%;
  background: #fff;
  opacity: .3;

  position: absolute;
  bottom: -150;
  
  animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s;
}

.burbuja:nth-child(2){
  width: 100px;
  height: 100px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 5s;
}

.burbuja:nth-child(3){
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 1.5s;
  animation-delay: 7s;
}

.burbuja:nth-child(4){
  width: 50px;
  height: 50px;
  left: 90%;
  animation-duration: 6s;
  animation-delay: 3s;
}

.burbuja:nth-child(5){
  width: 70px;
  height: 70px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 1s;
}

.burbuja:nth-child(6){
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(7){
  width: 20px;
  height: 20px;
  left: 50%;
  animation-duration: 4s;
  animation-delay: 5s;
}

.burbuja:nth-child(8){
  width: 100;
  height: 100px;
  left: 52%;
  animation-duration: 5s;
  animation-delay: 5s;
}

.burbuja:nth-child(9){
  width: 65px;
  height: 65px;
  left: 51%;
  animation-duration: 3s;
  animation-delay: 2s;
}

.burbuja:nth-child(10){
  width: 40px;
  height: 40px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 4s;
}

@keyframes burbujas{
  0%{
      bottom: 0;
      opacity: 0;
  }
  30%{
      transform: translateX(30px);
  }
  50%{
      opacity: .4;
  }
  100%{
      bottom: 100vh;
      opacity: 0;
  }
}

@keyframes movimiento{
  0%{
      transform: translateY(0);
  }
  50%{
      transform: translateY(30px);
  }
  100%{
      transform: translateY(0);
  }
}